/* Colors */
:root {
  --darkblue: #280069;
  --footerblue: #1A0044;
  --pink: #FF3A66;
  --offwhite:  #FFFFF8;
  --mustard: #F4C64D;
  --formgrey: #D4CCDB;
}

body {
  background-color: var(--offwhite);
  padding: 0;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#container {
  color: var(--darkblue);
  margin: 108px 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#container-top {
  height: 100%;
  width: 700px;
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#title h1 {
  margin-top: 0px;
  line-height: 37.5px;
  text-decoration: none;
}

#wording {
  text-decoration: underline;
  text-underline-offset: 0.4em;
  padding-top: 5px;
}

#arrow{
  position: relative;
  top: 3px;
  right: 5px;
}

#wording:hover {
  color: var(--mustard);
}

#wording:visited {
  color: var(--darkblue);
}

.paragraphs {
  margin-top: 50px;
}
.paragraphs h2 {
  line-height: 40px;
}

#footer {
  background: var(--footerblue);
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

#footer a {
  color: var(--offwhite);
  text-decoration: none;
}

#footer a:hover {
  color: var(--mustard);
}


@media only screen and (max-width: 1024px) and (orientation: landscape){
  #container {
    margin-top: 35px;
    margin-right: 35px;
    margin-bottom: 55px;
    margin-left: 35px;
  }

  #container-top{
    width: 100%;
    height: auto;
  }
}


/* CSS for screen sizes smaller than big smartphones*/
@media only screen and (max-width: 768px){
  #container {
    margin-top: 35px;
    margin-right: 13.5px;
    margin-bottom: 50px;
    margin-left: 13.5px;
  }

  #container-top{
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-height: 500px){
  #footer {
    position: relative;
  }
}
