body {
  background-color: #FFFFF8;
  margin: 0 0 0 0;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#container {
  color: #280069;
  padding: 108px 108px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#container-top {
  width: 700px;
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#title h1 {
  margin-top: 0px;
  line-height: 37.5px;
}

#title a {
  text-decoration: none;
  padding-top: 5px;
}

#title a img{
  padding-right: 10px;
  padding-top: 2px;
}

#title a:hover {
  color: #FF3A66;
}

.paragraphs h2 {
  line-height: 40px;
}

#footer {
  background: #1A0044;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#footer a {
  color: #FFFFF8;
  text-decoration: none;
}

#footer a:hover {
  color: #FF3A66;
}


@media only screen and (max-width: 1024px) and (orientation: landscape){
  #container {
    width: auto;
    padding-top: 35px;
    padding-right: 35px;
    padding-bottom: 55px;
    padding-left: 35px;
  }


}


/* CSS for screen sizes smaller than big smartphones*/
@media only screen and (max-width: 768px){
  #container {
    width: auto;
    padding-top: 35px;
    padding-right: 13.5px;
    padding-bottom: 50px;
    padding-left: 13.5px;
  }

}
