body {
  background-color: #FFFFF8;
  margin: 0 0 0 0;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#container {
  color: #280069;
  padding: 108px 108px;
  width: 700px;
  display: flex;
  flex-direction: column;
}

/* #container-top {

} */

#footer {
  background: #1A0044;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#footer a {
  color: #FFFFF8;
  text-decoration: none;
}

#footer a:hover {
  color: #FF3A66;
}
