body {
  background-color: #FFFFF8;
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #FFFFF8;
}

/* //white top part */
#center-elements {
  width: 700px;
  padding-top: 108px;
  padding-bottom: 108px;
}

#box-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #280069;
}

#box-top p {
  padding-top: 15px;
}

#contact-top-right {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

#contact-top-right a {
  text-decoration: none;
  padding-left: 7px;
}

#arrow {
  padding-top: 2px;
}

#contact-top-right a:hover {
  color: #FF3A66;
}

.about-serif {
  margin: 0 0;
  padding-top: 50px;
}

/* // blue bottom part */
#box-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #31007A;
  overflow: hidden;
  color: #FFFFF8;
  display: flex;
  flex-direction: row;
  padding-top: 108px;
  padding-bottom: 108px;
  width: 100%;
}

#width {
  width: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact-bottom {
  display: flex;
  flex-direction: column;
}

#email {
  letter-spacing: 1px;
  padding-top: 15px;
  padding-bottom: 30px;
}

#email:hover {
  color: #FF3A66;
}

#socialMedia {
  padding-top: 50px;
  color: #FFFFF8;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
}

.socialMedia a {
  position: relative;
  padding-top: 36px;
}

.socialMedia a img.image-main-hover {
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  width: 32px;
  padding-top: 56px;
}

.socialMedia a:hover img.image-main-hover{
  opacity: 1;
}

.socialMedia a:hover img.image-main{
  opacity: 0;
}

#github {
  padding-top: 66px;
}
#githubIcon-pink {
  width: 34px;
}

.title {
  padding-bottom: 15px;
}

/* Form Element */
#form {
  width: 380px;
  padding-left: 169px;
}

#form ul {
  padding-left: 0;
  margin-top: 0;
}

#form ul p {
  margin-bottom: 0px;
}

#form li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#form label {
  padding-top: 15px;
}

#button {
  border: 1px solid #FFFFF8;
  background: none;
  text-align: center;
  color: #FFFFF8;
  border-radius: 19px;
  margin-top: 35px;
  width: 89px;
  height: 39px;
  align-self: end;
}

#button:hover {
  background: #FF3A66;
  border-color: #FF3A66;
  color: #280069;
}

.disabled {
 color: yellow;
}

#form input, #form textarea {
  border-top-width: 1px;
  border-top-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: #FFFFF8;
  background: none;
  color: #D4CCDB;
  padding-left: 11px;
  margin-top: 5px;
  font-size: 16px;
  resize: none;
}

#form textarea {
  padding-top: 9px;
  height: 155px;
  font-size: 17px;
}

.slimInput {
  height: 39px;
}

#contact-form-loading-screen {
  display: none;
}
#contact-form-loading-screen.active {
  color: yellow;
  display: block;
}

#contact-form-success-screen {
  display: none;
}

#contact-form-success-screen.active {
  display: block;
}

#contact-form-error-screen {
  display: none;
}

#contact-form-error-screen.active {
  display: block;
  color: #FF3A66;
}

/* //dark blue footer */
#footer {
  background: #1A0044;
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#footer a {
  color: #FFFFF8;
  text-decoration: none;
}

#footer a:hover {
  color: #FF3A66;
}

/* CSS for screen sizes between ipadPortrait and big smartphones*/
@media only screen and (max-width: 1024px) and (orientation: landscape){
  #center-elements {
    width: auto;
    padding-top: 35px;
    padding-right: 35px;
    padding-bottom: 100px;
    padding-left: 35px;
  }

  #box-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #width {
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .socialMedia a {
    position: relative;
    padding-top: 0px;
  }

  #form {
    padding-left: 0px;
    padding-top: 79px;
  }
}


/* CSS for screen sizes smaller than big smartphones*/
@media only screen and (max-width: 768px){
  #center-elements {
    width: auto;
    padding-top: 13.5px;
    padding-right: 13.5px;
    padding-bottom: 64px;
    padding-left: 13.5px;
  }

  .about .about-bold {
    font-size: 21px;
    line-height: 31px;
  }

  .about .about-serif {
    font-size: 21px;
    line-height: 31px;
  }

  #contact-top-right a{
    text-align: right;
  }

  #box-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #width {
    width: auto;
    display: flex;
    flex-direction: column;
  }

  #email {
    padding-bottom: 25px;
  }

  .socialMedia a {
    position: relative;
    padding-top: 0px;
  }

  .socialMedia a img.image-main-hover {
    padding-top: 20px;
  }

  #form {
    padding-left: 0px;
    padding-top: 79px;
  }

}

@media only screen and (max-width: 420px){
  #center-elements {
    width: auto;
    padding-top: 13.5px;
    padding-right: 13.5px;
    padding-bottom: 64px;
    padding-left: 13.5px;
  }

  .about .about-bold {
    font-size: 21px;
    line-height: 31px;
  }

  .about .about-serif {
    font-size: 21px;
    line-height: 31px;
  }

  #contact-top-right a{
    text-align: right;
  }

  /* #center-elements-bottom{
    width: auto;
    padding-top: 64px;
    padding-bottom: 64px;
  } */

  #box-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
  }

  #email {
    padding-bottom: 25px;
  }

  .socialMedia a {
    position: relative;
    padding-top: 0px;
  }

  .socialMedia a img.image-main-hover {
    padding-top: 20px;
  }

  #form {
    padding-left: 0px;
    padding-top: 79px;
    width: auto;
  }

  #form input, #form textarea {
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    padding-left: 6px;
  }
}
