/* Colors */
:root {
  --darkblue: #280069;
  --footerblue: #1A0044;
  --pink: #FF3A66;
  --offwhite:  #FFFFF8;
  --mustard: #F4C64D;
  --formgrey: #D4CCDB;
}

body {
  background-color: var(--offwhite);
  display: flex;
  flex-direction: row;
  margin: 0 0 0 0;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* //white top part */
#white-box {
  background: var(--offwhite);
  width: 700px;
  padding-top: 108px;
  padding-bottom: 108px;
}

#width-white {
  display: flex;
  flex-direction: column;
}

#box-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--darkblue);
}

#box-top p {
  padding-top: 15px;
}

#contact-top-right {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

#contact-top-right a {
  text-decoration: underline;
  text-underline-offset: 0.4em;
  padding-left: 7px;
}

#contact-top-right a:visited {
  color: var(--darkblue);
}

#arrow {
  padding-top: 2px;
}

#contact-top-right a:hover {
  color: var(--mustard);
}

#about {
  color: var(--darkblue);
}

.about-serif {
  margin: 0 0;
  padding-top: 50px;
}

/* .about-serif a:links {
  color: var(--darkblue);
} */

.about-serif a:hover {
  color: var(--mustard);
}

.about-serif a:visited {
  color: var(--darkblue);
}


/* //projects section*/
#project-section {
  color: var(--darkblue);
  padding-top: 80px
}

#projects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 330px;
  padding-right: 13px;
}

.project img {
  padding-bottom: 15px;
  height: 220px;
  width: 330px;
}

.project a {
  text-decoration: none;
  padding-bottom: 20px;
}

.project a:visited{
  color: var(--darkblue);
}

.project h3 {
  text-decoration: underline;
  text-underline-offset: 0.4em;
  padding-bottom: 10px;
}

.project h3:hover {
  color: var(--mustard);
}

.project h3:visited {
  color: var(--darkblue);
}

.description {
  padding-top: 6px;
}


/* //contact section */
#blue-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--darkblue);
  /* overflow: hidden; */
  color: var(--offwhite);
  display: flex;
  flex-direction: row;
  padding-top: 108px;
  padding-bottom: 108px;
  width: 100%;
}

#width-blue {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 700px;
}


#contact-bottom {
  display: flex;
  flex-direction: column;
}

#email {
  letter-spacing: 1px;
  padding-top: 15px;
  padding-bottom: 30px;
  text-decoration: underline;
  text-underline-offset: 0.4em;
}

#email:hover {
  color: var(--mustard);
}

.socialMedia {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  padding-top: 50px;
}

.socialMedia a img.image-main-hover {
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  width: 32px;
  padding-top: 56px;
}

.socialMedia a:hover img.image-main-hover{
  opacity: 1;
}

.socialMedia a:hover img.image-main{
  opacity: 0;
}

#github {
  padding-top: 66px;
}
#githubIcon-mustard {
  width: 34px;
}

.title {
  padding-bottom: 15px;
}

/* Form Element */
#form {
  width: 380px;
  padding-left: 169px;
}

#form-display {
  display: flex;
  flex-direction: column;
}

#form ul {
  padding-left: 0;
  margin-top: 0;
}

#form ul p {
  margin-bottom: 0px;
}

#form li {
  list-style: none;
  display: flex;
  flex-direction: column;
}

#form label {
  padding-top: 15px;
}



#form input, #form textarea {
  border-top-width: 1px;
  border-top-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  border-color: var(--offwhite);
  background: none;
  color: var(--formgrey);
  padding-left: 11px;
  margin-top: 5px;
  font-size: 16px;
  resize: none;
}

#form textarea {
  padding-top: 9px;
  height: 155px;
  font-size: 17px;
}

.slimInput {
  height: 39px;
}

#positioning {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

#button {
  border: 1px solid var(--offwhite);
  background: none;
  text-align: center;
  color: var(--offwhite);
  border-radius: 19px;
  margin-top: 35px;
  width: 89px;
  height: 39px;
  align-self: end;
}

#button:hover {
  background: var(--mustard);
  border-color: var(--mustard);
  color: var(--darkblue);
}

/* LoadingScreenAnimation */
#contact-form-loading-screen {
  display: none;
  position: relative;
  width: 80px;
  height: 80px;
  top: 34px;
}

#contact-form-loading-screen div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  margin: 8px;
  border: 2px solid #FFFFF8;
  animation: contact-form-loading-screen 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #FFFFF8 transparent transparent transparent;
}

#contact-form-loading-screen div:nth-child(1) {
  animation-delay: -0.45s;
}
#contact-form-loading-screen div:nth-child(2) {
  animation-delay: -0.3s;

}
#contact-form-loading-screen div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes contact-form-loading-screen {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#contact-form-loading-screen.active {
  display: inline-block;
}

/* LoadingScreenAnimation End */


#contact-form-success-screen {
  display: none;
}

#contact-form-success-screen.active {
  display: block;
  color: var(--mustard);
}

#contact-form-error-screen {
  display: none;
}

#contact-form-error-screen.active {
  display: block;
  color: var(--pink);
}

/* //dark blue footer */
#footer {
  background: var(--footerblue);
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#footer a {
  color: var(--offwhite);
  text-decoration: none;
}

#footer a:hover {
  color: var(--mustard);
}


/* CSS for screen sizes between 13" notebooks and tablets Portrait*/
@media only screen and (max-width: 1024px) and (orientation: landscape){
  #white-box {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-right: 35px;
    padding-bottom: 100px;
    padding-left: 35px;
  }

  #width-white {
    width: 700px;
  }

  #blue-box {
    width: 100%;
  }

  #width-blue {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 35px;
    padding-right: 35px;
    padding-bottom: 100px;
    padding-left: 35px;
  }

  #box-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #form {
    padding-left: 0px;
    padding-top: 79px;
  }
}


/* CSS for screen sizes smaller than tablets in portrait*/
@media only screen and (max-width: 768px){
  #white-box {
    width: auto;
    padding-top: 64px;
    padding-right: 13.5px;
    padding-bottom: 64px;
    padding-left: 13.5px;
  }

  #width-white {
    width: auto;
  }

  #contact-top-right a{
    text-align: right;
  }

  #width-blue {
    display: flex;
    flex-direction: column;
    width: auto;
    padding-top: 13.5px;
    padding-right: 13.5px;
    padding-bottom: 64px;
    padding-left: 13.5px;
  }

  #email {
    padding-bottom: 25px;
  }

  #form {
    padding-left: 0px;
    padding-top: 79px;
  }

}

/* CSS for screen sizes smaller than tablets in portrait*/
@media only screen and (max-width: 420px){
  #contact-top-right a{
    text-align: right;
  }

  #email {
    padding-bottom: 25px;
  }

  .about .about-bold {
    font-size: 21px;
    line-height: 31px;
  }

  .about .about-serif {
    font-size: 21px;
    line-height: 31px;
  }

  #form {
    padding-left: 0px;
    padding-top: 79px;
    width: auto;
  }

  #form input, #form textarea {
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    padding-left: 6px;
  }
}
